img {
    width: 100%;
}

article {
    overflow-y: auto;
}

#left {
box-sizing: border-box;
float: left;
width: 50%;
padding-right: 0.5rem;
}

#right {
    box-sizing: border-box;
    float: right;
    width: 50%;
    padding-left: 0.5rem;
}

div div div {
    border: solid black 1px;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
}

#caption {
    margin: 0;
    margin-top: 0.5rem;
}

h2 {
    margin: 0;
}

#latest {
    height: 14rem;
    overflow-y: auto;
}

#esittely {
    height: 28rem;
    overflow-y: auto;
}

#loki {
    height: 12rem;
    overflow-y: auto;
}

#kuutti {
    min-height: 7rem;
    text-align: center;
    background: linear-gradient(0deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(/kuutti3.png) no-repeat;
    background-size: 100% 100%;
    
    
}
